<h1>$client.getName()</h1>
<p>$client.getName() is $stylist.getName()'s client at $hairsalon.getName()</p>
<h3>Information</h3>
<p>Email Address:</p>
<p>$client.getEmail()</p>
<p>Phone Number:</p>
<p>$client.getPhoneNumber()</p>
<p>Appointment Date:</p>
<p>$client.getAppointment()</p>
