<h1>Hair Salons</h1>
#if (!($hairsalons.isEmpty()))
<p><a href="/hairsalons/new">Add new Hair Salon.</a></p>
#foreach ($hairsalon in $hairsalons)
<a href="/hairsalons/$hairsalon.getId()">
  <div class="hoverText">
    <p>$hairsalon.getName()</p>
  </div>
</a>
#end
#else
  <p>You currently have 0 stylists. <a href="/hairsalons/new">Add one now.</a></p>
#end
