<h1>Clients</h1>
<h4>Here is a list of all clients currently in our database</h4>
#foreach ($client in $clients)
<a href="/hairsalons/$hairsalon.getId()/styl">
  <div class="hoverText">
    <p>$hairsalon.getName()</p>
  </div>
</a>
#end
#else
  <p>You currently have 0 stylists. <a href="/hairsalons/new">Add one now.</a></p>
#end
